.card-section {
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;

}



.deCard {
    width: 80%;
    height: 50%;
    background-color: rgb(115, 164, 238);
    color: rgb(255, 255, 255);
}

.desCard p {
    font-size: 40px;
}

.deCard button {
    margin-left: 10px;
}